.title{
    color: #FFF;
}

.input{
    width: 14vw;
    background-color: #FFF;
    border: none;
    text-decoration: none;
}:focus{
    outline: none;
}

.inputdiv{
    background-color: #FFF;
    border: 1px solid #65b8a6;
    border-radius: 25vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.botao{
    border: 1px solid #65b8a6;
    border-radius: 5px;
    background-color: #FFF; /* Cor de fundo (substitua pela cor desejada) */
    cursor: pointer; /* Mude o cursor para indicar que é clicável */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
}


.botaoAdd{
    border: none; /* Remove a borda */
    background-color: #FFF; /* Cor de fundo (substitua pela cor desejada) */
    cursor: pointer; /* Mude o cursor para indicar que é clicável */
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoFi{
    border: none; /* Remove a borda */
    background-color: #FFF; /* Cor de fundo (substitua pela cor desejada) */
    cursor: pointer; /* Mude o cursor para indicar que é clicável */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.botaotrash{
    border: 1px solid red;
    border-radius: 100%;
    height: 1.5vw;
    width: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personagens{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;//#cfeceb
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 12px;
}

.margin{
    margin-top: 12px;

}

.container{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonRowTwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12px
}

.buttonColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 16px;
}